# OS
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env
.venv/
venv/
env/

# Editors / IDE
.vscode/
.idea/
*.code-workspace

# Data
data/
!data/sample/

faceforensics_data/
*.zip
*.tar
*.tar.gz

*.pth
*.pt
*.ckpt
checkpoints/
runs/
logs/

*.tmp
*.log
